{% extends 'base.html' %}

{% block title %}Requests Received{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}


<div class="container">
    <h3>{{ session['fname'] }}, they are interested in you..</h3>

    <div id="user-list" class="row">
        {% for received in received_from_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 user-summary">

              <div class="well" style="border-radius: 10%; text-align: center;">
                    

                  <p class="latest"><span class="glyphicon glyphicon-star"></span><b>New</b><p>
                 
                  <h3>{{ received.source_user.fname }}</h3>
                  
                  <a href="/users/{{ received.source_userid }}?type='source'&status={{ received.status }}">
                  <img src="/{{ UPLOAD_FOLDER }}{{ received.source_user.pictures[0].picture_url }}" width="200" height="200"></a>

                  <div><span class="dob">{{ received.source_user.personal.dob }}</span>, 
                  {{ received.source_user.contact.city }}</div>
                 
                  <p> Status : <span class="status" id="status_{{ received.source_userid }}" data-id="{{ received.source_userid }}">{{ received.status }}</span> </p>
                  <p class="stamp"> {{ received.timestamp }}</p>
                 
                  <p> Received : <span class="time-ago"></span></p>

                  <button class="btn btn-primary" id="accept_{{ received.source_userid }}" onclick="acceptPass({{ received.source_userid }}, 
                  'accept')">Accept</button>
                  <button class="btn btn-primary" id="pass_{{ received.source_userid }}" onclick="acceptPass({{ received.source_userid }}, 
                  'pass')">Pass</button> 
              </div>

          </div>
      {% endfor %}
    </div>
</div>
 
     
{% endblock %}

{% block javascript %} 
    
    <script>

        function checkStatus() {        
            s = $('.status');  
            //may b change it to callback style-line15, better way to make it accept/pass class
            //we can have as many data attributes as we want, it makes it like dictionary

            for (let i = 0; i < s.length; i++) {

                id = $(s[i]).data('id');

                if ($(s[i]).html().indexOf("Pending") >= 0) {
                    $('#accept_' + id).show();  
                    $('#pass_' + id).show();
                } else {
                    $('#accept_' + id).hide();
                    $('#pass_' + id).hide();
                }
            }
        }


        function acceptPass(user_id, action) {
            let payload = {'source_userid': user_id, 'timestamp': new Date(), 'action': action}
            // should i do evt.preventdefault here ?
            $.post("/accept-pass-request.json", payload, showResponse);
        }

        function showResponse(result) {
            $('#accept_' + result.uid).hide()
            $('#pass_' + result.uid).hide()
            $('#msg_' + result.uid).html(result.response)
            $('#status_' + result.uid).html(result.status)
        }

        $(document).ready(function() {

            checkStatus(); 
            
            let ne = {{ session['new_requests'] }};
             
            

            $('.latest').hide()
            $(".user-summary div:lt(" + ne + ")").css("background-color", "#B0C9D9");
            $(".user-summary div:lt(" + ne + ") .latest").show();


            let dobs = $('.dob');
            for (let i = 0; i < dobs.length; i++) {
                //console.log($(dobs[i]).html());
                $(dobs[i]).html(calculateAge($(dobs[i]).html()));
            }
            
            
        });

    </script>

    <script src="/static/js/checkTimeAgo.js"></script>


{% endblock %}