.nav, .navbar, .navbar-default, .navbar-default {
  background-color: green;
  color: white;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #151515;
  margin-top: 6px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

@media (min-width: 768px) { 
  .navbar-nav > li > a{
    line-height: 30px; 
  }
}

footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}