
/* The body has an image that spans the entire size of the page.
   Everything is centered and in white. */

body {
    background: #333 url("/static/images/Welcome6.jpg");
    background-size: cover;

    color: #800000;
    text-align: center;

    background-position: -30px ;
}

/* site-wrapper and site-wrapper-inner are to vertically center content using
   table/table-cell vertical centering. */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    /*margin-bottom: 800px;*/
}

#login {
    margin: 20px;
}
/* The footer always appears at the bottom of the browser window. */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}


