<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Ratings{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.timeago.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% block head %} {% endblock %}
</head>
<body>
  

  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}


  <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="https://www.soulmatesunlimited.com/images/sylized_hearts_pc_1600_clr_1663-copy.gif" width="25px" height="25px"></a>
                <a class="navbar-brand" href="#"><b>InstaMatch</b></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/my-homepage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/my-homepage/messages" class="msg"><span class="glyphicon glyphicon-envelope"></span> Inbox<span id="msg"></span></a></li>
                  <li><a href="/my-homepage/favorites" class="msg"><span class="glyphicon glyphicon-heart"></span> My Favorites<span id="msg"></span></a></li>
                  <li class="dropdown"><a href="#"
                                          class="dropdown-toggle"
                                          data-toggle="dropdown"
                                          role="button"
                                          aria-expanded="false"><span class="glyphicon glyphicon-user"></span> My Connections<span id="notification"></span><span class="caret"></span></a>
                                          <ul class="dropdown-menu" role="menu">
                                              <li><a href="/my-homepage/requests-sent" class="sent">Sent <span class="glyphicon glyphicon-circle-arrow-right"></span><span id="sent"></span></a></li>
                                              <li><a href="/my-homepage/requests-received" class="received">Received <span class="glyphicon glyphicon-circle-arrow-left"></span><span id="received"></span></li>
                                              <li><a href="/my-homepage/requests-accepted" class="accepted">Requests Accepted</a></li>
                                          </ul>
                  </li>
                  <li class="dropdown"><a href="#"
                                          class="dropdown-toggle"
                                          data-toggle="dropdown"
                                          role="button"
                                          aria-expanded="false"> <img src="/{{ session['img'] }}" width="30px" height="30px" style="border-radius: 50%; margin-top: 0"> <b>{{ session['fname'] }}</b><span class="caret"></span></a>
                                          <ul class="dropdown-menu" role="menu">
                                              <li><a href="/users/{{ session['user_id'] }}"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                                              <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                              <li><a href="/logout">Logout</a></li>
                                          </ul>
                  </li>
                </ul>

            </div>
        </div>
    </nav>
  <!-- <div class="container"> -->  
    <!-- We could have done that, but it will limit our homepage settings, hence do it every page individually -->
    {% block content %} {% endblock %}
  <!-- </div> -->
  
  <script>

    //Add this in basetag since its required at many places . 
    //Still need to change the continue-registration age check
    //Cool thing here is dob can be any string as long as it contains date format also
  function calculateAge(dob) {

        var today = new Date();
        var birthDate = new Date(dob);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age-1;
        }
        return age;
    }
  </script>

  {% block javascript %} {% endblock %}
  <footer class="footer-copyright">
    <div class="container-fluid">
      <p>Copyright: © 2018 InstaMatch . All rights reserved.</p>
    </div>
  </footer>
</body>
</html>