{% extends 'base.html' %}

{% block title %}My Messages{% endblock %}

{% block head %}
    <style>
        div {
            margin: 50px;
        }
        .side-by-side {
            float: left;
        }
        .cl {
            clear: left;
        }
        img {
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block content %}

    
      {% for message in messages_list %}
        <div>          
            <b>FROM</b> : {{ message.from_user.fname }} <br>
            <b>Message</b> : {{ message.message }}  <br> 
            <span class="time-ago"></span>
            <p class="stamp"> {{ message.timestamp }}</p>
        </div>
    
      {% endfor %}

    <ul>
      {% for user, message in user_list %}
        <li>
          <div class="side-by-side">
            <img src="/{{ UPLOAD_FOLDER }}{{ user.pictures[0].picture_url }}" width="200" height="200">
          </div>
          <div class="side-by-side">
            <p> {{ user.fname }} {{ user.lname }} </p>
            <p> {{ message[1] }} <span class="time-ago"></span></p> 
            <p class="stamp"> {{ message[2] }} </p>
          </div>
          <div class="cl">
          </div>
        </li>
      {% endfor %}
    </ul>
    
{% endblock %}

{% block javascript %} 
    
    <script src="/static/js/checkTimeAgo.js"></script>

{% endblock %}