{% extends 'base.html' %}

{% block title %}My Messages{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <br><br>
    <ul>
      {% for message in messages_list %}
        <li>          
            FROM : {{ message.from_user.fname }} Message : {{ message.message }}
        </li>
    
      {% endfor %}
    </ul>
    
{% endblock %}

{% block javascript %} 
    
    <script>

        function checkStatus() {        
            
        }


        $(document).ready(function() {         
            //checkStatus();
        });

    </script>

{% endblock %}