{% extends 'base.html' %}

{% block title %}My InstaMatch{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
      $( function() {

        $( "#slider-range-age" ).slider({
          range: true,
          min: 15,
          max: 70,
          values: [ {{ filter_criteria.min_age }} , {{ filter_criteria.max_age }} ],
          slide: function( event, ui ) {
            $( "#age" ).val( ui.values[ 0 ] + "-" + ui.values[ 1 ] );
            //someFunc(); - terrible idea to do it here
          }
        });
        $( "#age" ).val( $( "#slider-range-age" ).slider( "values", 0 ) +
          " - " + $( "#slider-range-age" ).slider( "values", 1 ) );

        $( "#slider-range-height" ).slider({
          range: true,
          min: 120,
          max: 200,
          values: [ {{ filter_criteria.min_height }}, {{ filter_criteria.max_height }} ],
          slide: function( event, ui ) {
            $( "#height" ).val( ui.values[ 0 ] + "-" + ui.values[ 1 ] );
          }
        });
        $( "#height" ).val( $( "#slider-range-height" ).slider( "values", 0 ) +
          " - " + $( "#slider-range-height" ).slider( "values", 1 ) );

        $( "#slider-distance" ).slider({
          min: 0,
          max: 1000,
          values: [ 500 ],
          slide: function( event, ui ) {
            $( "#distance" ).val( ui.values[ 0 ] );
          }
        });
        $( "#distance" ).val( $( "#slider-distance" ).slider( "values", 0 ) + " miles");

      } );
  </script>
  <style>   
        .ui-slider .ui-slider-handle {

            cursor: default;
            height: 1em;
            position: absolute;
            width: 1.2em;
            z-index: 2;
        }
        .ui-slider {
            width : 200px;
            height: 8px;
        }
        .cir {
            display:    none;
            position:   fixed;
            z-index:    1000;
            top:        0;
            left:       0;
            height:     100%;
            width:      100%;
            background: rgba( 255, 255, 255, .8 ) 
                        url('http://i.stack.imgur.com/FhHRx.gif') 
                        50% 50% 
                        no-repeat;
        }
        body.loading .cir {
            display: block;
        }
        .side-by-side {
            display: inline-block;
        }
        #render-users { 
            margin-top: 10px;
            padding: 10px;
        }
        .heart {
            font-size: 25px;
            color:red;
        }

  </style>
{% endblock %}

{% block content %}
    

     <div class="container-fluid" id="search-users">
       <div class="row">
            <div class="col-lg-2">
                <br>
                <span class="glyphicon glyphicon-filter"></span> 
                <b> Filters </b> 
            </div>
            <div class="col-lg-10" style="text-align: center">
                <div class="side-by-side">
                    <h3> Top Matches for {{ session['fname'] }} </h3>
                </div>
                <div class="side-by-side sorted" style="margin-left: 20em">
                    Sort by
                    <select id="sort" name="sort">  <!-- Notice here I did not put this dropdown inside form tag, so i cant use  'input[name="sort"]', instead give it an id--> 
                        <option value="age-asc">Age: Ascending</option>
                        <option value="age-desc">Age: Descending</option>
                        <option value="distance">Distance: Closest</option>
                        <option value="height-tallest">Height: Tallest </option>
                        <option value="height-shortest">Height: Shortest </option>
                        <option value="relevance" selected>Relevance</option>
                        <option value="favorited">Favorites</option>
                    </select>
                </div>
            </div>
            
       </div>
       <div class="row">
         <div class="col-lg-2" id="filters"> 
            <!-- <form action="/search" id="search-form"> -->
            <form action="/potential-matches.json" id="search-form">
              
                  <label for="age">Age Range:</label>
                  <input type="text" id="age" name="age" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  <div id="slider-range-age"></div>
                <br><br>
              
                  <label for="height">Height Range in cm:</label>
                  <input type="text" id="height" name="height" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  <div id="slider-range-height"></div>    
                <br><br>
                
                  <label for="distance">Distance from me:</label>
                  <input type="text" id="distance" name="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
                  <div id="slider-distance"></div>    
                <br><br>
                
                <label>Gender<br>
                    <input type="radio" id="male" name="gender" value="M" checked> Male<br>
                    <input type="radio" id="female" name="gender" value="F"> Female<br>
                    <input type="radio" id="other" name="gender" value="O"> Other
                </label><br><br>
                
    
                <p>
                <label>Ethnicity<br>
                    <input type="radio" id="eth_d_matter" name="eth" value=0 checked> Doesn't Matter
                    <input type="radio" id="eth_matter" name="eth" value=1> Matters<br>
                    <div id="show-ethnicities">
                        <select name="ethnicities" multiple>
                            {% for ethnicity in ethnicities %}
                                <option value="{{ ethnicity.ethnicity_id }}">{{ ethnicity.ethnicity_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </label>
                </p>

                <p>
                <label>Religion<br>
                    <input type="radio" id="rel_d_matter" name="rel" value=0 checked> Doesn't Matter
                    <input type="radio" id="rel_matter" name="rel" value=1> Matters<br>
                    <div id="show-religions">
                        <select name="religions" multiple>
                            {% for religion in religions %}
                                <option value="{{ religion.religion_id }}">{{ religion.religion_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </label>  
                </p> 

               <!--  <p>
                    <input type="submit" class="btn btn-default" value="SEARCH">
                </p> -->

            </form>

          </div>  <!-- Filters Column -->
          
          <div class="col-lg-10" id="render-users">

          </div> <!-- Pictures Column -->
            <div class="cir"></div>
          </div> <!--row-->
    </div>
    
    
{% endblock %}
{% block javascript %}

    <script>  

        $(document).ready(function() {
            if ('{{ filter_criteria.gender }}' === 'M') {
                $('#male').prop("checked", true);
            } else {
                $('#female').prop("checked", true);
            }
        }); 

        // may be change these new_requests etc to session since now we have them in session
        function checkNotifications() {
            let notifications = {{ new_requests }} + {{ new_responses }};
            if( notifications > 0) {
                let new_string = '<b>(' + notifications + ')</b>';
                $('#notification').html(new_string);
            }
            if ({{ new_requests }} > 0) {
                let new_string = '<b>(' + {{ new_requests }} + 'new requests)</b>';
                $('#received').html(new_string);
            }
            if ({{ new_responses }} > 0) {
                let new_string = '<b>(' + {{ new_responses }} + 'new responses)</b>';
                $('#sent').html(new_string);
            }
            if ({{ new_messages }} > 0) {
                let new_string = '<b>(' + {{ new_messages }} + ')</b>';
                $('#msg').html(new_string);
            }
        }
    </script>

    <script src="/static/js/myHomepage.js"></script>

{% endblock %}