{% extends 'base.html' %}

{% block title %}My InstaMatch{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {

        $( "#slider-range-age" ).slider({
          range: true,
          min: 15,
          max: 70,
          values: [ 25, 45 ],
          slide: function( event, ui ) {
            $( "#age" ).val( ui.values[ 0 ] + "-" + ui.values[ 1 ] );
          }
        });
        $( "#age" ).val( $( "#slider-range-age" ).slider( "values", 0 ) +
          " - " + $( "#slider-range-age" ).slider( "values", 1 ) );

        $( "#slider-range-height" ).slider({
          range: true,
          min: 120,
          max: 200,
          values: [ 150, 170 ],
          slide: function( event, ui ) {
            $( "#height" ).val( ui.values[ 0 ] + "-" + ui.values[ 1 ] );
          }
        });
        $( "#height" ).val( $( "#slider-range-height" ).slider( "values", 0 ) +
          " - " + $( "#slider-range-height" ).slider( "values", 1 ) );

        $( "#slider-distance" ).slider({
          min: 0,
          max: 1000,
          values: [ 50 ],
          slide: function( event, ui ) {
            $( "#distance" ).val( ui.values[ 0 ] );
          }
        });
        $( "#distance" ).val( $( "#slider-distance" ).slider( "values", 0 ) + " miles");

      } );
  </script>
  <style>   
        .ui-slider .ui-slider-handle {

            cursor: default;
            height: 1.2em;
            position: absolute;
            width: 1.2em;
            z-index: 2;
        }
        .ui-slider {
            width : 200px;
        }
  </style>
{% endblock %}

{% block content %}
    <h1> Welcome {{ session['fname'] }} </h1>

    <div> <a href="/users/{{ session['user_id'] }}">See My Profile</a> </div>
    <br><br>

    <div> <a href="/my-homepage/requests-received" class="received">Requests I have received<span id="received"></span>
    </a> </div>
    <br><br>

    <div> <a href="/my-homepage/requests-sent" class="sent">Requests I have sent<span id="sent"></span></a> </div>
    <br><br>

    <div> <a href="/my-homepage/messages" class="msg">Messages<span id="msg"></span></a> </div>
    <br><br>

    <div> <a href="/my-homepage/requests-accepted" class="accepted">Requests Accepted</a> </div>
    <br><br>

    <div> <a href="">Start Searching</a> </div>        
         
    <form action="/search">
    <p>
      <label for="age">Age Range:</label>
      <input type="text" id="age" name="age" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
     
    <div id="slider-range-age"></div>

    <p>
      <label for="height">Height Range in cm:</label>
      <input type="text" id="height" name="height" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
     
    <div id="slider-range-height"></div>    

    <p>
      <label for="distance">Distance from me:</label>
      <input type="text" id="distance" name="distance" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
     
    <div id="slider-distance"></div>    

    <br>

    <p>
    <label>Gender<br>
        <input type="radio" name="gender" value="M" checked> Male<br>
        <input type="radio" name="gender" value="F"> Female<br>
        <input type="radio" name="gender" value="O"> Other
    </label><br><br>
    </p>
    
    <p>
    <label>Ethnicity<br>
        <input type="radio" id="eth_d_matter" name="eth" value=0 checked> Doesn't Matter
        <input type="radio" id="eth_matter" name="eth" value=1> Matters to me<br>
        <div id="show-ethnicities">
            {% for ethnicity in ethnicities %}    
                <input type="checkbox" id ="{{ ethnicity.ethnicity_name }}"name="ethnicities" value="{{ ethnicity.ethnicity_id }}">
                <label for="{{ ethnicity.ethnicity_name }}">{{ ethnicity.ethnicity_name }}</label>   
            {% endfor %}
        </div>
   
    </label><br><br>
    </p>

    <p>
    <label>Religion
        <input type="radio" name="rel_matter" value=0 checked> Doesn't Matter
        <input type="radio" name="rel_matter" value=1> Matters to me<br>
        <div id="show-religions">
            <select name="religions" multiple>
                {% for religion in religions %}
                    <option value="{{ religion.religion_id }}">{{ religion.religion_name }}</option>
                {% endfor %}
            </select>
        </div>
    </label><br><br>    
    </p> 

    <p>
        <input type="submit" value="SEARCH">
    </p>

    </form>

    <script>
        

        function checkNotifications() {
            if ({{ new_requests }} > 0) {
                console.log({{ new_requests }})
                new_string = '<b>(' + {{ new_requests }} + 'new requests)</b>'
                $('#received').html(new_string);
            }
            if ({{ new_responses }} > 0) {
                new_string = '<b>(' + {{ new_responses }} + 'new responses)</b>'
                $('#sent').html(new_string);
            }
            if ({{ new_messages }} > 0) {
                new_string = '<b>(' + {{ new_messages }} + 'new responses)</b>'
                $('#msg').html(new_string);
            }

        }
            
        

        $(document).ready(function() {         
            
            checkNotifications();
            
            $('.received').on('click', function() {
                $('#received').html('');
            })

            $('.sent').on('click', function() {
                $('#sent').html('');
            })

            $('.msg').on('click', function() {
                $('#msg').html('');
            })


            $("#show-ethnicities, #show-religions").hide()

            // let choices = $('input[name=eth_matter]')

            // for(let i=0; i < choices.length; i++) {
            //     $(choices[i]).on('click', function() {
            //         if($(this).val() === 0) {
            //            $("#show-ethnicities").hide(); 
            //         } else {
            //             $("#show-ethnicities").show();
            //         }
            //     })
            // }

            $('#eth_d_matter').on('click', function() {
                $("#show-ethnicities").hide();
            })
            $('#eth_matter').on('click', function() {
                $("#show-ethnicities").show();
            })

        });

    </script>

    <!-- {% for ethnicity in ethnicities %}
        <button role="checkbox" aria-checked="false">{{ ethnicity.ethnicity_name }}</button>
    {% endfor %} -->

{% endblock %}