{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container" style="text-align: center;">
    <h1> {{ user.fname }} {{ user.lname }} </h1>


    <br><br>
    <!-- {% for pic in user.pictures %}
        <img src="/{{ pic.picture_url }}">
    {% endfor %} -->
    <div class="row">
        <div id="personal">
            <img src="/{{ pic_url }}">
            <h3>Personal Info</h3>
                <p> Gender : {{ user.personal.gender }} </p>
                <p id="dob">Date of Birth : {{ user.personal.dob }}</p>
                <p id="age"></li>
                <p> Height : {{ user.personal.height }} cm</p>
                <p> About {{ user.fname }} : {{ user.personal.aboutme }} </p>
                <p> Ethnicity : {{ user.personal.ethnicity.ethnicity_name }} </p>
                <p> Religion : {{ user.personal.religion.religion_name }} </p>  
        </div>
    </div>

    <div class="row">
        <div id="contact-info">
            <h3>Contact Info</h3>
            <ul>
                <li> Address : {{ user.contact.street_address }} </li>
                <li> City : {{ user.contact.city }} </li>
                <li> Zipcode : {{ user.contact.zipcode }} </li>
                <li> Phone Number : {{ user.contact.phone }} </li>
                <li> Email : {{ user.email }}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div id="professional">
            <h3>Professional Info</h3>
            <ul>
                <li> Education : {{ user.professional.education}} </li>
                <li> Occupation : {{ user.professional.occupation}} </li>
                <li> Employer : {{ user.professional.employer}} </li>
            </ul>
            
        </div>
    </div>

    <div class="row">
        <div id="interests">
            <h3>Interests</h3>
                <ul>
                {% for interest in user.interests %}
                    <li> interest </li>
                {% endfor %}
                </ul>
        </div>
    </div>

    <div class="row">
        <button>Edit</button>
    </div>

</div> 

{% endblock %}

{% block javascript %}
    <script>
    
    $(document).ready(function() { 

        console.log($('#dob').html());
        let age = calculateAge($('#dob').html()) + ' years old';  
        $('#age').html(age);

        // if(' user_type ' !== 'self') {
        //     $('#contact-info').hide();
        // } else {
        //     $('#contact-info').show();
        // }

        // status is status of any user wrt current_user
        // contact_type is the type of connection of current_user with contacted-user
        // if status === Accepted
        //     show status
        //     show contact-info
        //     show message-button
        // if status === Pending
        //     show status
        //     hide contact-info
        //     if contact_type === 'source'
        //         show accept-btn
        //         show pass-btn
        //     if contact_type === 'target'
        //         <Do nothing>
        // if status === Passed
        //     show status
        //     hide contact-info
        // if status === new
        //     hide status
        //     hide contact-info
        //     show send-request-btn
        //     show mark-fav-btn
        // if status === none (self)
        //     hide status
        //     show contact-info
        //     show edit-button

    });
    </script>

{% endblock %}