{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1> {{ user.fname }} {{ user.lname }} </h1>

    <br><br>
    <!-- {% for pic in user.pictures %}
        <img src="/{{ pic.picture_url }}">
    {% endfor %} -->
    <img src="/{{ pic_url }}">
    <p id="dob">{{ user.personal.dob }}</p>
    <p id="age"> {{ user.personal.dob }} </p>
    <p> {{ user.personal.height }} </p>
    <p> {{ user.personal.aboutme }} </p>
    <p> {{ user.contact.street_address}} </p>
    <p> {{ user.contact.city}} </p>
    <p> {{ user.contact.zipcode}} </p>
    <p> {{ user.contact.phone}} </p>
    <p> {{ user.professional.education}} </p>
    <p> {{ user.professional.occupation}} </p>
    <p> {{ user.professional.employer}} </p>

    <button>Edit</button>
    

{% endblock %}

{% block javascript %}
    <script>
    
    function calcAge(dob) {

        var today = new Date();
        var birthDate = new Date(dob);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age-1;
        }
        return age;
    }
    
    $(document).ready(function() {         
            $('#age').html(calcAge($('#dob').html()))
    });
    </script>

{% endblock %}