{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block head %}
    <style>
      .carousel-inner > .item > img
       {
          width: 70%;
          margin: auto;
      }

      .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: black;
        }
        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: grey;
          margin: auto;
          padding: 0;
          width: 90%;
          max-width: 1200px;
        }

        /* The Close Button */
        .close {
          color: white;
          position: absolute;
          top: 10px;
          right: 600px;
          font-size: 35px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #999;
          text-decoration: none;
          cursor: pointer;
        }
        .cursor {
          cursor: pointer
        }
        .on-load {
            
            background-color: transparent;
            border-color: transparent;
            -webkit-appearance:none;
        }
        input {
          width: 100%;
        }
        .hide {
          display: none;
        } 

      </style>  
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">

    <div class="col-lg-4">
      <br><br>
      <div id="personal">
        
        <div class="panel panel-default">
          <div class="panel-body" style="text-align: center;">
        <a href="#" class="profile-pic"><img src="/{{ UPLOAD_FOLDER }}{{ user.pictures[-1].picture_url }}" width="250px" height="250px" ></a>
          </div>
       </div>
        <br>
        <div id="contact">
          <p><span class="glyphicon glyphicon-envelope"></span> {{ user.email }}</p>
          <p><span class="glyphicon glyphicon-phone"></span> {{ user.contact.phone }}</p>
        </div>
        <div id="myCarousel" class="carousel slide modal" data-ride="carousel">
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <!-- Indicators -->
                <ol class="carousel-indicators">                   
                    {% for item in user.pictures %} 
                        {% if loop.index0 == 0 %} <!-- loop.index0 is used for looping in jinja -->
                            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner modal-content" role="listbox">
                    {% for pic in user.pictures %}
                        {% if loop.index0 == 0 %}
                          <div class="item active">
                            <img src="/{{ UPLOAD_FOLDER }}{{ pic.picture_url }}" style="width:70%;">
                          </div>
                        {% else %}
                            <div class="item">
                             <img src="/{{ UPLOAD_FOLDER }}{{ pic.picture_url }}" style="width:70%;">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
      </div>
    </div>



    <div class="col-lg-6">
      
      <h2 data-status="{{ status }}"> {{ user.fname }} {{ user.lname }} </h2>
      <p> <span id="age"></span> &#9642; {{ user.personal.gender }} from {{ user.contact.city.title() }}, {{ user.contact.state }}</p>
      <a href="#" id="edit1" style="float: right;"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      
      <form action="/edit-profile", method="POST" id="edit-form">
      <table class="table table-hover table-striped">
        <tr>
          <td>Date of Birth :</td>
          <td><input class="edit-me" type="date" name="dob" id="date-of-birth" readonly value="{{ user.personal.dob.strftime('%Y-%m-%d') }}"></td>
        </tr>
        <tr>
          <td>Height :</td>
          <td><input class="edit-me" type="number" name="height" readonly value="{{ user.personal.height }}"><span id="feets"></span></td>
        </tr>
        <tr>
          <td>Ethnicity :</td>
          <td>
              <select class="edit-me" name="ethnicity" disabled="true" id="eth">
                    {% for ethnicity in ethnicities %}
                      {% if user.personal.ethnicity.ethnicity_name == ethnicity.ethnicity_name %}
                        <option value="{{ ethnicity.ethnicity_id }}" selected>{{ ethnicity.ethnicity_name }}</option>
                      {% else %}
                        <option value="{{ ethnicity.ethnicity_id }}">{{ ethnicity.ethnicity_name }}</option>
                      {% endif %}
                    {% endfor %}
              </select>
          </td>              
        </tr>
        <tr>
          <td>Faith :</td>
          <td>
              <select class="edit-me" name="religion" disabled="true">
                    {% for religion in religions %}
                      {% if user.personal.religion.religion_name == religion.religion_name %}
                        <option value="{{ religion.religion_id }}" selected>{{ religion.religion_name }}</option>
                      {% else %}
                        <option value="{{ religion.religion_id }}">{{ religion.religion_name }}</option>
                      {% endif %}
                    {% endfor %}
              </select>
          </td>
        </tr>
        <tr>
          <td>Current Relationship Status :</td>
          <td><input class="edit-me" type="text" name="current_rel" readonly value="{{ user.personal.current_rel_status}}"></td>
        </tr>
        <tr>
          <td>Education :</td>
          <td><input class="edit-me" type="text" name="education" readonly value="{{ user.professional.education}}"></td>
        </tr>
        <tr>
          <td>Employer :</td>
          <td><input class="edit-me" type="text" name="employer" readonly value="{{ user.professional.employer}}"></td>
        </tr>
        <tr class="extra">
          <td>Occupation :</td>
          <td><input class="edit-me" type="text" name="occupation" readonly value="{{ user.professional.occupation}}"></td>
        </tr>
        <tr class="extra">
          <td>Smokes :</td>
          <td><input class="edit-me" type="text" name="smoke" readonly value="{{ user.personal.smoke}}"></td>
        </tr>
        <tr class="extra">
          <td>Drinks :</td>
          <td><input class="edit-me" type="text" name="drink" readonly value="{{ user.personal.drink}}"></td>
        </tr>
        <tr class="extra">
          <td>Want kids :</td>
          <td><input class="edit-me" type="text" name="kids" readonly value="{{ user.personal.kids}}"></td>
        </tr>
      </table> 
    </form>
    
      <a href="#" id="hide" style="float: right;">More..</a>
      <button id="save" class="btn btn-default btn-xs" style="float: right;">Save</button>
      <button id="cancel" class="btn btn-default btn-xs" style="float: right;">Cancel</button>
      <img id="tick" src="/static/images/green.svg" style="float: left;" width="50px" height="40px">
    </div>

  </div>  <!-- end of row 1 -->
    


  <div class="row">
    <div class="col-lg-10">
      <h3>In {{ user.fname }}'s own words</h3>
      <p class="text-justify"> {{ user.personal.aboutme }} </p>
    </div>
  </div> <!-- end of row 2 -->
   
<br><br>
<div class="row">
  <div class="col-lg-10">
   <div class="panel panel-default">
        <div class="panel-heading"><b>{{ user.fname }}'s Interests</b></div>
        <div class="panel-body" style="text-align: center;">
          <ul class="list-group">
              {% for interest in user.interests %}
                  <li class="list-group-item" style="display: inline-block;"><span class="glyphicon glyphicon-star"></span> {{ interest.interest_name }} </li>
              {% endfor %}
          </ul>
        </div>
   </div>
  </div>
</div>  <!-- end of row 3 -->

   

</div> 

{% endblock %}

{% block javascript %}
    <script>
    
    function closeModal() {
          $('#myCarousel').hide();
        }

    //// For showing height in feet
    function toFeet(n) {
        var realFeet = ((n*0.393700) / 12);
        var feet = Math.floor(realFeet);
        var inches = Math.round((realFeet - feet) * 12);
        return feet + "'" + inches + '"';
      }

    $(document).ready(function() { 

        //// For showing height in feet
        $('#feets').text(toFeet($('input[name="height"]').val()));
        $('input[name="height"]').hide();

        /// For converting dob to age
        let age = calculateAge($('#date-of-birth').val());  
        $('#age').html(age);

        ///// for - pics /////////////////////////////////
        $('#myCarousel').hide();

        $('.profile-pic').on('click', function() {
            $('#myCarousel').show();
        });


        /////////// for editing //////////////////////////
        $('.edit-me').addClass("on-load");   // give all fields a common class
        $('#save, #cancel, #tick').hide();
        

        /// Do if status is self
        // if status is not self - edit1.hide()
        if ($('h2').data('status') === 'self') {

          $('#edit1').on('click', function() {
            
            $('.edit-me').removeClass("on-load");
            $('select').removeAttr("disabled");
            $('input').removeAttr("readonly");
            $('#date-of-birth').focus();
            $('#save, #cancel, .extra').show();
            $('input[name="height"]').show();
            $('#tick, #hide, #feets').hide();
          });

          $('#save').on('click', function() {
            data = $('#edit-form').serialize();
            $('#age').html(calculateAge($('#date-of-birth').val()));
            $.post('/edit-profile', data, function(response) {
              $('.edit-me').addClass("on-load");
              $('select').attr("disabled","true");
              $('input').attr("readonly","true");
              $('#save, #cancel, input[name="height"]').hide();
              $('#tick, #hide, #feets').show();
              $('#feets').text(toFeet($('input[name="height"]').val()));
              $('#hide').text("Less..");
            });
          });

          $('#cancel').on('click', function() {
              $('.edit-me').addClass("on-load");
              $('select').attr("disabled","true");
              $('input').attr("readonly","true");
              $('#save, #cancel, input[name="height"]').hide();
              $('#hide').text("Less..");
              $('#hide, #feets').show();
          });

        } else {
          $('#edit1, #contact').hide();
        }

        ///////////////// For showing more-less///////////
        $('.extra').hide();

        $("#hide").on("click", function(){
          $('.extra').toggle();
          $(this).text($(this).text() === "More.." ? "Less.." : "More..");
        });
       



        // status is status of any user wrt current_user
        // contact_type is the type of connection of current_user with contacted-user
        // if status === Accepted
        //     show status
        //     show contact-info
        //     show message-button
        // if status === Pending
        //     show status
        //     hide contact-info
        //     if contact_type === 'received'
        //         show accept-btn
        //         show pass-btn
        //     if contact_type === 'sent'
        //         <Do nothing>
        // if status === Passed
        //     show status
        //     hide contact-info
        // if status === new
        //     hide status
        //     hide contact-info
        //     show send-request-btn
        //     show mark-fav-btn
        // if status === none (self)
        //     hide status
        //     show contact-info
        //     show edit-button

    });
    </script>

{% endblock %}