{% extends 'base.html' %}

{% block title %}Accepted Connections{% endblock %}

{% block head %}
    <style>
      #map {
        width: 50%;
        height: 400px;
      }
    </style>
{% endblock %}

{% block content %}

    <h3>Accepted Members</h3>
    <div id="map"></div>

    <ul>
      {% for received in received_accepted %}
        <li> 
            <a href="/users/{{ received.source_userid }}?type='source'&status={{ received.status }}">     
                <p> <img src="/{{ UPLOAD_FOLDER }}{{ received.source_user.pictures[0].picture_url }}" width="200" height="200"> </p></a>
                <p> UserId :{{ received.source_userid }} </p>
                <p> Name :{{ received.source_user.fname }} {{ received.source_user.lname }} </p>
                <p> Height : {{ received.source_user.personal.height }}cm </p>
                <p> Religion : {{ received.source_user.personal.religion.religion_name }} </p>
                <p> Ethnicity : {{ received.source_user.personal.ethnicity.ethnicity_name }} </p>
                <p> Status : {{ received.status }}</p>
        </li>
      {% endfor %}
    </ul>

    <ul>
      {% for sent in sent_accepted %}
        <li> 
            <a href="/users/{{ sent.target_userid }}?type='target'&status={{ sent.status }}">     
                <p> <img src="/{{ UPLOAD_FOLDER }}{{ sent.target_user.pictures[0].picture_url }}" width="200" height="200"> </p></a>
                <p> UserId :{{ sent.target_userid }} </p>
                <p> Name :{{ sent.target_user.fname }} {{ sent.target_user.lname }} </p>
                <p> Height : {{ sent.target_user.personal.height }}cm </p>
                <p> Religion : {{ sent.target_user.personal.religion.religion_name }} </p>
                <p> Ethnicity : {{ sent.target_user.personal.ethnicity.ethnicity_name }} </p>
                <p> Status : {{ sent.status }}</p>
        </li>
      {% endfor %}
    </ul>



{% endblock %}

{% block javascript %}
    <script>
        
        function initMap() {
            let mylocation = {lat: {{ lat_lng[-1]['lat'] }}, lng: {{ lat_lng[-1]['lng'] }} };
            let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 5,
              center: mylocation
            });

            {% for l in lat_lng %}
                var icon = {
                    url: "/static/images/me.png", // url
                    scaledSize: new google.maps.Size(25, 25), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };
                
                  var goldStar = {
                      path: 'M 125,5 155,90 245,90 175,145 200,230 125,180 50,230 75,145 5,90 95,90 z',
                      fillColor: 'yellow',
                      fillOpacity: 0.8,
                      scale: 1,
                      strokeColor: 'gold',
                      strokeWeight: 5
                    };
                var m = {lat: {{ l['lat'] }}, lng: {{ l['lng'] }} };
                var marker = new google.maps.Marker({
                  position: m,
                  map: map,
                  //icon: goldStar
                }); 
            {% endfor %}
                var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
                var marker = new google.maps.Marker({
                  position: mylocation,
                  map: map,
                  icon: image
                });
          }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
    </script>
{% endblock %}