{% extends 'base.html' %}

{% block title %}Accepted Connections{% endblock %}

{% block head %}
    <style>
        .user {
            float: left;
        }
        .gmap {
            float: left;
            overflow: hidden;
        }
        .side-by-side {
            display: inline-block;
        }
    </style>

{% endblock %}


{% block content %}

    <h3>    Accepted Members</h3>

    <!-- One Modal Window in the entire page -->
    <div class="modal fade" id="message-Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="messageModalLabel">New message</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="message-text" class="control-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary send">Send message</button>
          </div>
        </div>
      </div>
    </div>


    <!-- Half page for users and half page for maps -->
    <!-- <div class="row">    -->
        <!-- <div class="col-lg-6" panel panel-default> -->
        <div class="side-by-side" style="overflow:scroll; height: 600px; width: 700px;">
            <ul>
              {% for sent in sent_accepted %}
                <li> 
                    <a href="/users/{{ sent.target_userid }}?type='target'&status={{ sent.status }}">     
                        <p> <img src="/{{ UPLOAD_FOLDER }}{{ sent.target_user.pictures[0].picture_url }}" width="200" height="200" class="marker"> </p></a>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#message-Modal" data-fname="{{ sent.target_user.fname }}" data-userid="{{ sent.target_userid }}" data-type="target">Message</button>

                        <p> UserId :{{ sent.target_userid }} </p>
                        <p> Name :{{ sent.target_user.fname }} {{ sent.target_user.lname }} </p>
                        <p> Status : {{ sent.status }}</p>
                        <p class="stamp"> {{ sent.timestamp }}</p>
                        <p> Sent : <span class="time-ago"></span></p>
                        <a href="#" data-toggle="hover" 
                        data-content="
                                Phone Number : {{ sent.target_user.contact.phone }} 
                                Email : {{ sent.target_user.email }}">
                        Show Contact </a>
                </li>
              {% endfor %}
            </ul>
            <ul>
              {% for received in received_accepted %}
                <li> 
                    <a href="/users/{{ received.source_userid }}?type='source'&status={{ received.status }}">     
                        <p> <img src="/{{ UPLOAD_FOLDER }}{{ received.source_user.pictures[0].picture_url }}" width="200" height="200" class="marker"> </p></a>

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#message-Modal" data-fname="{{ received.source_user.fname }}" data-userid="{{ received.source_userid }}" data-type="source">Message</button>

                        <p> UserId :{{ received.source_userid }} </p>
                        <p> Name :{{ received.source_user.fname }} {{ received.source_user.lname }} </p>
                        <p> Status : {{ received.status }}</p>
                        <p class="stamp"> {{ received.timestamp }}</p>
                        <p> Received : <span class="time-ago"></span></p>
                        <a href="#" data-toggle="hover" 
                        data-content="
                                Phone Number : {{ received.source_user.contact.phone }} 
                                Email : {{ received.source_user.email }}">
                        Show Contact </a>
                </li>
              {% endfor %}
            </ul>       
        </div>
        <!-- <div class="col-lg-6"> -->
        
        <div class="side-by-side">
            <div id="map" style="height:600px; width:650px; float: right;">
            </div>     
        </div>
    <!-- </div> -->


{% endblock %}

{% block javascript %}
    
    <!-- earlier async defer was taking a callback=initMap(), hence when i was also calling it , there was an error. So we removed async defer tag and removed &callback=initMap. But this introduces a different error..a person who has no connections, will see an alert that zero results were returned  -->

    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>  
    <script src="/static/js/gmaps.js"></script>

    <script>
        var zips = [];
        {% for a in sent_accepted %}
            zips.push( '{{ a.target_user.contact.zipcode }}' );
        {% endfor %}

        {% for a in received_accepted %}
            zips.push( '{{ a.source_user.contact.zipcode }}' );
        {% endfor %}
        
        var my_zip = '{{ current_user.contact.zipcode }}';
        var markers = [];
   
        $(document).ready(function(){       

            /// Initialize google maps
            initMap();
            get_geo_codes();
           // console.log(markers);

            $('.marker').hover(
                function() {
                    let index = $('.marker').index(this)    // $('.marker') will give a list 
                    markers[index].setAnimation(google.maps.Animation.BOUNCE);
                },
                function() {
                    let index = $('.marker').index(this)    // $('.marker') will give a list 
                    markers[index].setAnimation(null); 
                }
            );

            // For showing contact-info on hover
            $('[data-toggle="hover"]').popover({ trigger : "hover"}); 

            // For modal-window show
            $('#message-Modal').on('show.bs.modal', function (event) {
              $('.send').attr("disabled", false);
              $('.send').off('click');
             
              var button = $(event.relatedTarget); // Message Button that triggered the modal
              var recipient = button.data('fname');
              var to_id = button.data('userid');         

              $('.send').on('click', recordMessage);

            function recordMessage(evt) {
                evt.preventDefault();
                
                let payload = {'text': $('#message-text').val(), 'to_id': to_id, 'timestamp': new Date()};
                $.post("/send-message", payload, function(response) {
                    $('.send').hide();
                });
             }

              var modal = $(this);

              modal.find('.modal-title').text('New message to ' + recipient);
              modal.find('.modal-body input').val(recipient);
            })

        });

      </script> 


    <script src="/static/js/checkTimeAgo.js"></script>

    
    
    
{% endblock %}